@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Rufina:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom variables */
:root {
  /* colors */
  --text: #020402;
  --background: #f9fcf8;
  --primary-button: #8ecc96;
  --secondary-button: #edf7f3;
  --accent: #4ca985;


  --clr-element: linear-gradient(to bottom right,
      rgba(99, 160, 116, 1) 0%,
      rgba(99, 160, 136, 1) 50%,
      rgba(99, 160, 156, 1) 100%);

}

/* Base reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  position: relative;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a {
  list-style: none;
  text-decoration: none;

}

a {
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* logo */
.logo {
  padding: 1rem 1rem 1.5rem 1rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

.polygon {
  /* polygon shape */
  clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
  /* minimal animation */
  transform: scale(1);
  transition: all 0.4s;
}

.polygon:hover {
  transform: scale(1.05);
}